pkgbase = linux-GoralixOS
	pkgdesc = Linux SCHED-EXT + BORE + Cachy Sauce Kernel by GoralixOS with other patches and improvements
	pkgver = 6.11.7
	pkgrel = 1
	url = https://github.com/GoralixOS/linux-goralixOS
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.11.7.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/GoralixOS/kernel-patches/master/6.11/all/0001-goralixOS-base-all.patch
	source = https://raw.githubusercontent.com/GoralixOS/kernel-patches/master/6.11/misc/dkms-clang.patch
	source = https://raw.githubusercontent.com/GoralixOS/kernel-patches/master/6.11/sched/0001-sched-ext.patch
	source = https://raw.githubusercontent.com/GoralixOS/kernel-patches/master/6.11/sched/0001-bore-cachy-ext.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-goralixOS
	pkgdesc = The Linux SCHED-EXT + BORE + Goralix Sauce Kernel by GoralixOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = scx-scheds
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = NTSYNC-MODULE

pkgname = linux-goralixOS-headers
	pkgdesc = Headers and scripts for building modules for the Linux SCHED-EXT + BORE + Goralix Sauce Kernel by GoralixOS with other patches and improvements kernel
	depends = pahole
	depends = linux-goralixOS